@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">DevOps</h1>
    <img src="~/imagens/LifeCycleDevops.png" alt="Trulli" width="500px" >
    <h1>CI/CD usando GitHub Actions e ArgoCD no Kubernetes</h1>
</div>
