@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">DevOps</h1>
    <img src="~/imagens/LifeCycleDevops.png" alt="Trulli" width="500px" >
    <p><a href="https://sre.google/">Site Reliability Engineering Google</a></p>
</div>
